body {
    font-family: 'Consolas', 'Monaco', monospace;
    margin: 0;
    padding: 0; 
}

header {
    color: rgb(64 64 64);
    text-align: center;
    font-family: 'Consolas', 'Monaco', monospace;
    height: 35px;
}

.button-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.small-button {
    display: inline-block;
    margin: 1px;
    font-size: 14px;
    padding: 10px;
}

.big-button {
    padding: 15px;
    margin: 10px;
    font-size: 18px;
}

a:link {
    color: rgb(64 64 64);
    background-color: transparent;
    text-decoration: none;
  }
  
a:visited {
    color: rgb(64 64 64);
    background-color: transparent;
    text-decoration: none;
  }
.onPage{
    text-decoration: underline;
}
.text-container {
    text-align: center;
    margin-right: 300px; 
    margin-left: 300px; 
}

.text-container p {
    font-size: 16px; 
    color: rgb(64 64 64);
}